{% extends "base.html" %} {% block content %}
<h1>Lịch sử câu</h1>
<table class="table">
  <thead>
    <tr>
      <th>Ngày</th>
      <th>Chữ Hán</th>
      <th>Pinyin</th>
      <th>Âm Hán Việt</th>
      <th>Nghĩa Tiếng Việt</th>
    </tr>
  </thead>
  <tbody>
    {% for sentence in sentences %}
    <tr>
      <td>{{ sentence.date.strftime('%d/%m/%Y') }}</td>
      <td>{{ sentence.chinese }}</td>
      <td>{{ sentence.pinyin }}</td>
      <td>{{ sentence.sino_vietnamese }}</td>
      <td>{{ sentence.vietnamese_meaning }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
