{% extends "base.html" %} {% block title %}Lịch Sử Các Câu{% endblock %} {%
block content %}
<h1>Lịch Sử Các Câu Tiếng Trung</h1>

<table border="1" cellpadding="10">
  <tr>
    <th>Ngày</th>
    <th>Chữ Hán</th>
    <th>Pinyin</th>
    <th>Âm Hán Việt</th>
    <th>Nghĩa Tiếng Việt</th>
  </tr>
  {% for sentence in sentences %}
  <tr>
    <td>{{ sentence.date }}</td>
    <td>{{ sentence.chinese }}</td>
    <td>{{ sentence.pinyin }}</td>
    <td>{{ sentence.sino_vietnamese }}</td>
    <td>{{ sentence.vietnamese_meaning }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
